@inherits TableBase<TItem>
@typeparam TItem
<table class="table table-striped">
    <thead>
        <tr class="">@TableHeader</tr>
    </thead>
    <tbody>
        @foreach (var item in ItemList)
        {
            <tr class="">@TableRow(item)</tr>
        }
    </tbody>
</table>
<div class="pagination">
    <button class="btn btn-info" @onclick=@(async () => SetPagerSize("back"))>&laquo;</button>
    <button class="btn btn-secondary" @onclick=@(async () => NavigateToPage("previous"))>Пред.</button>
    @for (int i = startPage; i <= endPage; i++)
    {
        var currentPage = i;
        <button class="btn @(currentPage==curPage?"currentpage":"")" @onclick=@(async () => UpdateList(currentPage))>
            @currentPage
        </button>
    }
    <button class="btn btn-secondary" @onclick=@(async () => NavigateToPage("next"))>След.</button>
    <button class="btn btn-info" @onclick=@(async () => SetPagerSize("forward"))>&raquo;</button>
    <span class="btn btn-link disabled">Page @curPage of @pagesCount</span>
</div>
<head>
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <link rel="stylesheet" type="text/css" href="/bootstrap/bootstrap.min.css">
</head>